USE [master]
GO
/****** Object:  Database [QuanLyDoAn]    Script Date: 3/21/2021 12:19:43 PM ******/
CREATE DATABASE [QuanLyDoAn]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QuanLyDoAn', FILENAME = N'D:\SQL-server\pm\mdf\QuanLyDoAn.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QuanLyDoAn_log', FILENAME = N'D:\SQL-server\pm\ldf\QuanLyDoAn_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuanLyDoAn].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QuanLyDoAn]
GO
/****** Object:  Table [dbo].[DangNhap]    Script Date: 3/21/2021 12:19:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DangNhap](
	[MaDN] [varchar](30) NOT NULL,
	[MatKhau] [varchar](30) NOT NULL,
 CONSTRAINT [pk_DangNhap_MaDN] PRIMARY KEY CLUSTERED 
(
	[MaDN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DoAn]    Script Date: 3/21/2021 12:19:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DoAn](
	[MaDA] [varchar](10) NOT NULL,
	[TenDA] [nvarchar](400) NOT NULL,
 CONSTRAINT [pk_DoAn_MaDA] PRIMARY KEY CLUSTERED 
(
	[MaDA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GiangVien]    Script Date: 3/21/2021 12:19:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GiangVien](
	[MaGV] [varchar](30) NOT NULL,
	[Hodem] [nvarchar](40) NOT NULL,
	[TenGV] [nvarchar](40) NOT NULL,
	[Email] [varchar](30) NULL,
	[SDT] [varchar](30) NULL,
 CONSTRAINT [pk_GiangVien_MaGV] PRIMARY KEY CLUSTERED 
(
	[MaGV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SinhVien]    Script Date: 3/21/2021 12:19:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SinhVien](
	[MaSV] [varchar](30) NOT NULL,
	[Hodem] [nvarchar](40) NOT NULL,
	[TenSV] [nvarchar](40) NOT NULL,
	[GioiTinh] [nvarchar](10) NOT NULL,
	[NgaySinh] [date] NOT NULL,
	[Email] [varchar](30) NOT NULL,
	[SDT] [varchar](30) NOT NULL,
	[Khoa] [nvarchar](100) NOT NULL,
	[Nganh] [nvarchar](100) NOT NULL,
	[MaGV] [varchar](30) NULL,
	[MaDA] [varchar](10) NULL,
	[Diem] [float] NULL,
 CONSTRAINT [pk_SinhVien_MaSV] PRIMARY KEY CLUSTERED 
(
	[MaSV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SinhVien]  WITH CHECK ADD  CONSTRAINT [fk_SinhVien_MaDA] FOREIGN KEY([MaDA])
REFERENCES [dbo].[DoAn] ([MaDA])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[SinhVien] CHECK CONSTRAINT [fk_SinhVien_MaDA]
GO
ALTER TABLE [dbo].[SinhVien]  WITH CHECK ADD  CONSTRAINT [fk_SinhVien_MaGV] FOREIGN KEY([MaGV])
REFERENCES [dbo].[GiangVien] ([MaGV])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[SinhVien] CHECK CONSTRAINT [fk_SinhVien_MaGV]
GO
ALTER TABLE [dbo].[DoAn]  WITH CHECK ADD  CONSTRAINT [CK_MaDA] CHECK  (([MaDA] like 'DA[0-9][0-9][0-9]'))
GO
ALTER TABLE [dbo].[DoAn] CHECK CONSTRAINT [CK_MaDA]
GO
ALTER TABLE [dbo].[GiangVien]  WITH CHECK ADD  CONSTRAINT [CK_MaGV] CHECK  (([MaGV] like 'GV[0-9][0-9][0-9]'))
GO
ALTER TABLE [dbo].[GiangVien] CHECK CONSTRAINT [CK_MaGV]
GO
USE [master]
GO
